@media screen and (min-width: 650px) {

    #content {
        max-width: 1600px;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    header h1, header h2 {
        padding: 0 1rem;
        margin: 1rem;
    }

    #logo {
        max-height: 120px;
        max-width: 120px;
        margin: auto 1rem;
    }

    #navbarButton {
        display: none;
    }

    .navbar {
        display: flex;
    }

    .navbar li {
        flex: 1 1 100%;
    }

    #navFooter {
        display: none;
    }

}

@media screen and (min-width: 800px) {

    header h1, header h2 {
        padding: 0 5rem;
    }

    #logo {
        margin: auto 3rem;
    }

    .programWeek {
        display: block;
        width: 95%;
        height: auto;
        margin: 1rem auto;
    }

    .programMobile {
        display: none;
    }

}

