/*
Font = Trebuchet MS
*/

:root {
    --background-dark: #006CAE;
    --background-middle: #D2D2D2;
    --background-light: #FFFFFF;
    --background-navbar: #F2F2F2;
    --background-current-page: rgba(0,0,0, 0.1);
    --font-light: #ffffff;
    --font-heading: #4D4D4D;
    --font-normal: #5A5A5A;
}




* {
    box-sizing: border-box;
    max-width: 100%;
}

#content {
    background-color: var(--background-light);
    max-width: 1600px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--font-normal);
    margin: 0 auto;
}

.headerBox {
    background-color: var(--background-dark);
    color: var(--font-light);
}

.headerBox h2 {
    margin: 0 auto;
    padding-top: 1.5vh;
}

.headerBox h3 {
    margin: 0 auto;
    padding-bottom: 1.5vh;
}

nav {
    background-color:var(--background-navbar);
    border-top: 2px solid var(--background-middle);
    border-bottom: 2px solid var(--background-middle);
    width: 100%;
    display: inline-flex;
}

nav a {
    width: 25%;
    text-align: center;
    text-decoration: none;
    color: var(--font-heading);
    border: 1px solid var(--background-current-page);
    padding: 1vh 0 1vh 0;
    font-size: 0.9em;
}

.selectedPage {
    background-color: var(--background-current-page);
    color: var(--font-heading);
}

#heroImage {
    padding: 1.5vh 0 1.5vh 0;
    display: block;
    margin: 0 auto;
}

.pageText {
    margin: 1.5vw 1vw;
}

.registerLink {
    text-decoration: none;
    color: var(--font-heading);
    font-weight: bold;
}

.registerLink:hover {
    color: var(--background-dark);
    font-weight: bold;
}

.registerButton {
    display: block;
    margin: 0 auto;
    padding: 3vh 0;
    width: 50%;
    min-height: 50px;
    background-color: var(--background-middle);
    border: 3px solid var(--background-dark);
    border-radius: 10px;
    text-decoration: none;
    color: var(--font-heading);
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
}


.registerButton:hover {
    background-color: var(--background-dark);
    border: 3px solid var(--font-heading);
    color: var(--font-light);
}

footer {
    border-top: 3px solid var(--background-middle);
    background-color: var(--background-navbar);
    text-align: center;
    display: inline-flex;
    width: 100%;
    margin-top: 1vh;
}

footer a {
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: var(--font-normal);
    padding: 2vh 0 2vh 0;
    font-size: 0.8em;
}

@media screen and (max-width: 600px) {
    #content {
        text-align: center;
    }
}

@media screen and (max-width: 350px) {
    #content {
        font-size: 12px;
    }
}